@font-face {
    font-family: "My Custom Font";
    src: url(//db.onlinewebfonts.com/c/d08bafd725a4cfc309efb5a88e0b63a5?family=basis33) format("truetype");
}
p.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
}
